:root {
    --accent-color: #222;
    --text-color: #ddd;
    --discord: rgb(114, 137, 218);
    --google: rgb(234, 68, 53);
    --fb: rgb(101, 139, 226);
}

.discordLogin {
    background-color: var(--discord);
    padding: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    width: 200px;
    -moz-box-align: center;
    align-items: center;
}

.googleLogin {
    background-color: var(--google);
    padding: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    width: 200px;
    -moz-box-align: center;
    align-items: center;
}

.fbLogin {
    background-color: var(--fb);
    padding: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    width: 200px;
    -moz-box-align: center;
    align-items: center;
}

*[id*="google_ads"] {
    display: none !important;
}

#settingBox {
    position: fixed;
    top: 0;
    right: 0;
    color: var(--text-color);
    width: 300px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}

h1 {
    font-size: 15px;
    margin: auto;
    text-shadow: 0 0 10px red;
}

#miniTitle {
    font-weight: 700;
    color: white;
    margin-top: 5px;
}

.TtB {
    display: flex;
    flex-direction: column !important;
}

.css {
    margin-left: unset !important;
}

.setVal {
    margin-left: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-left: solid 1px darkgray;
}

.minibox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
}

textarea {
    resize: vertical;
}


.num {
    width: 40px;
}

#hideturn {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    height: 16px;
    width: 16px;
    background: #888;
    z-index: 999;
    cursor: pointer;
}

.hidden::after {
    display: flex;
    position: fixed;
    top: 4px;
    right: 4px;
    height: 8px;
    width: 8px;
    content: "";
    background: #333;
}

#loginOut,
#reset,
#copyBtn {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: rgba(150, 150, 150, 0.133) solid 2px;
    margin-bottom: 2px;
    cursor: pointer;
    width: 90%;
}

input[type="button"] {
    border: 1px solid;
    padding: 2px;
}

input {
    height: 20px !important;
    background: black;
    color: gray;
    box-shadow: unset;
    border: unset;
    border-bottom: 1px solid #868686;
    padding-bottom: 4px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

/* Track: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
    background: #888;
    height: 4px;
    border-radius: 8px;
}

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    margin-top: -3px;
    background-color: #ffffff;
    border-radius: 50%;
}

#crosshair {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

#clientLogo {
    position: fixed;
    right: 10px;
    bottom: 5px;
    color: #fff;
    font-weight: bolder;
    size: 20px;
}

#overlay {
    height: 1080px;
    width: 1920px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}