/* fallback */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v156/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

#windowCloser,
#matchCloser {
    background: #0005;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(5px);
}

#vvcSetting {
    background-color: #222;
    width: 620px;
    height: 470px;
    color: white;
    padding-top: 0;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    box-shadow: 0 0 30px black;
    font-family: sans-serif;
}

#settingTitleBar {
    width: 600px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: gray;
    height: 25px;
    line-height: 25px;
}

#setBody {
    overflow-y: scroll;
    height: 425px;
    width: 600px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.catTitle {
    font-weight: 700;
    margin-bottom: 10px;
    width: 200px;
}

#horizonalSpacer {
    height: 2px;
    background-color: #fff2;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px
}

#setItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
    margin-left: 40px;
    color: #aaa;
    margin-bottom: 2px;
}

.closeBtn:hover {
    background: red;
}

.closeBtn {
    width: 40px;
    text-align: center;
    margin-right: -10px;
    cursor: pointer;
}

.gridBtn {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
}

#vvcSetting *:focus {
    outline: 1px solid cyan
}

.hide {
    display: none !important;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    image-rendering: pixelated;
    transform: translate(-50%, -50%)
}

#matchTable {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#matchList tr {
    margin-bottom: 4px;
}

#matchList td {
    padding: 5px;
    border: #fff2 .5px solid;
}

#matchList {
    background-color: #222;
    width: 620px;
    height: 470px;
    color: white;
    padding-top: 0;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    box-shadow: 0 0 30px black;
    font-family: sans-serif;
}

#escJoin,
#escCopy {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-evenly
}