body {
    margin: unset;
    padding: unset;
    background: #444;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "M PLUS Rounded 1c", sans-serif;
    align-items: center;
}

body::-webkit-scrollbar {
    appearance: unset;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #0008;
    border-radius: 5px;
}

input[type="url"] {
    appearance: unset;
    box-shadow: unset;
    outline: unset;
    border: unset;
    background: transparent;
    border-bottom: 1px #aaa solid;
    color: white
}

input[type="checkbox"] {
    appearance: unset;
    width: 30px;
    height: 30px;
    transition: .2s;
    transform: rotateX("0deg");

}

input[type="checkbox"]::before {
    content: "cancel";
    color: rgb(255, 141, 141);
    position: relative;
    font-family: 'Material Symbols Outlined';
    font-size: 28px;
    transition: .2s;
}

input[type="checkbox"]:checked {
    appearance: unset;
    width: 30px;
    height: 30px;
    transform: rotateX("360deg");
}

input[type="checkbox"]:checked::before {
    content: "check_circle";
    color: lime;
    position: relative;
    font-family: 'Material Symbols Outlined';
    transition: .2s;

}

.sets {
    width: 580px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: solid 1px #555;
}

.sets tr:nth-child(2n + 1) {
    background: linear-gradient(90deg, transparent, #333, #333, #333, #333, transparent);
}

.sets tr:nth-child(2n) {
    background: linear-gradient(90deg, transparent, #555, #555, #555, #555, transparent);
}

.sets th,
.sets td {
    padding: 10px;
    border-bottom: solid 1px #555;
}

*:focus {
    border: unset;
    outline: unset;
}

textarea {
    width: 100%;
    height: 100px;
    appearance: unset;
    background: transparent;
    color: white;
    border: #fff5 1px solid;
    resize: vertical;
    min-height: 100px;
}

textarea::-webkit-scrollbar {
    appearance: unset;
}

textarea::-webkit-scrollbar-corner {
    appearance: unset;
    background-color: transparent;
    border-color: red !important;
    box-shadow: unset !important;
}

textarea::-webkit-resizer {
    background: linear-gradient(135deg, transparent 0 50%, gray 50% 55%, transparent 55% 70%, gray 70% 75%, transparent 75% 90%, gray 90% 100%);
}

.req {
    font-size: 12px;
    color: red;
    font-weight: lighter;
}

input[type="button"] {
    appearance: unset;
    background: #444;
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    border: 2px solid #fff5;
    background-color: #e8bbff00;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bolder;
}

input[type="button"]:hover {
    background-color: #fff3
}

#openLinks {
    display: flex;
    flex-direction: column;
}

#adder,
#loginner,
#system {
    display: flex;
    justify-content: space-evenly;
}

#system input[type="button"] {
    width: calc(540px/2);
}

#adder input[type="button"],
#loginner input[type="button"] {
    width: calc(540px/3);
    padding: 10px 5px;
}

#close {
    background-color: #333;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

#close:hover {
    background-color: rgb(151, 69, 69);
    cursor: pointer;
    color: white;
}

header {
    -webkit-app-region: drag;
    position: fixed;
    height: 30px;
    background-color: #333;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    user-select: none;
}